
body {
    background-color: #fff;
    font-family: "Muli", "Verdana", sans-serif;
    color: #000;
}

#wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
}

.nav {
    margin: 0;
}

.navbar {
    margin: 0;
}

.navbar-default {
    margin: 0;
}

.navbar-inverse {
    border-color: #242424;
    margin: 0;
}

.page-header {
    border-bottom: 0 solid #eee;
}

.navbar-brand {
    cursor: pointer;
}

.row {
    margin: 0;
    padding: 0;
}

.page-header {
    padding-bottom: 0;
    margin: 0;
    border-bottom: 0 solid #dddddd;
}

.header-block {
    padding:0;
    margin:0 auto 0 auto;
    font-size:2.0em;
    font-weight: normal;
    text-align:center;
}

.container {
    margin: 10px;
}

.container-fluid {
    margin: 0;
    padding: 0;
    width: 100%;
}

.panel-heading {
    font-size:2.0em;
    font-weight: bold;
}

.verb-table {
    width: 100%;
    border: 1px solid;
}

.adverb-table, .adjective-table {
    width: 100%;
    border: 1px solid;
    text-align: center;
}

.verb-table th, .verb-table td,
    .adverb-table th, .adverb-table td,
    .adjective-table th, .adjective-table td {
    border: 1px solid;
    padding: 5px;
}

.verb-table tr, .adverb-table tr, .adjective-table tr {
}

.verb-table-header, .adverb-table-header, .adjective-table-header {
    text-align: center;
    background-color: #c4c4c4;
}

.verb-table-entry, .adverb-table-entry, .adjective-table-entry {
    font-size: 1.4em
}

.verb-table-verb, .adverb-table-verb {
    width: 25%;
}

.verb-table-tense {
    width: 25%;
}

.verb-table-person {
    width: 50%;
}

.page-group {
    width: 100%;
}

.form-group-adverb, .form-group-adjective {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.form-group-responses {
    width: 100%;
    font-size: 1.4em;
}

.verb-response-table {
    width: 100%;
}

.adverb-response-table, .adjective-response-table {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.verb-response-table-prompt, .adverb-response-table-prompt, .adjective-response-table-prompt {
    width: 50%;
}

.verb-response-table-input, .adverb-response-table-input, .adjective-response-table-input {
}

.verb-response-table-sep, .adverb-response-table-sep {
    line-height: 5px;
}

.btn-verb, .btn-adverb, .btn-adjective {
    background-color: #f3f3f3;
}

.speak-help {
    color: #a2a2a2;
    margin-left: 12px;
    font-size: 0.7em;
}